@media (min-width: 770px) {
  main {
    height: 100vh;
    display: flex;
    justify-content: space-between;
  }
  .picture img {
    margin-top: 2vw;
    width: 13vw;
  }
  .header-left h2 {
    font-size: 1.5vw;
    margin: 1vw 0 0 0;
  }
  .about-left h2 {
    font-size: 1.3vw;
  }
  .about-left p {
    font-size: 1vw;
  }
  .contact-left a img {
    width: 2.2vw;
  }
  .content-left {
    max-width: 19vw;
  }
  /* right */
  .container-right {
    width: 200vw;
  }

  .todos {
    justify-content: start;
    display: flex;
    gap: 6.5vw;
  }
  .skills {
    display: flex;
    flex-direction: row;
    max-width: 40vw;
    flex-wrap: wrap;
  }
  .projects {
    justify-content: space-evenly;
  }

  .card-project,
  .projects a {
    max-width: 27vw;
  }
  .header-right {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
  }
  .card-project {
    display: block;
    width: 80vw;
    flex-wrap: nowrap;
  }
  .card-project a {
    width: 80vw;
  }
  .hard-skills-title {
    font-size: 1vw;
  }
  .skills {
    gap: 0 2vw;
  }
  .skills-card {
    width: 10vw;
    gap: 1vw;
    padding: 0.5rem;
  }
  .content-contacts {
    width: 19.8vw;
    padding: 0;
    margin: 0;
    height: 52vh;
  }

  .title {
    font-size: 1vw;
  }
  .inputs input[type="text"],
  input[type="email"] {
    height: 1.5vw;
    width: 22rem;
  }
  textarea{
    width: 22rem;
  }

  .inputs button {
    width: 23.2rem;
    height: 2.5em;
    color: var(--text-color);
    font-size: 1.2vw;
    border-radius: 0.5rem;
  }
}
