@media (min-width: 770px) {
  body,
  main {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
  }
  .picture img {
    margin-top: 2vw;
    width: 13vw;
  }
  .header-left h2 {
    font-size: 1.5vw;
    margin: 1vw 0 0 0;
  }
  .about-left h2 {
    font-size: 1.3vw;
  }
  .about-left p {
    font-size: 1vw;
  }
  .contact-left a img {
    width: 2.2vw;
  }
  .content-left {
    max-width: 19vw;
  }
  /* right */

  .projects {
    justify-content: space-evenly;
  }

  .card-project,
  .projects a {
    max-width: 27vw;
  }
  .header-right {
    display: flex;
  }
  .card-project {
    display: block;
    width: 80vw;
    flex-wrap: nowrap;
  }
  .card-project a {
    width: 80vw;
  }
  .hard-skills-title,
  .contact-title,
  .header-right {
    font-size: 0.8vw;
    color: #fff;
    text-align: center;
  }
  .container-skills-and-contact {
    display: flex;
    text-align: start;
    line-height: 2;
    justify-content: space-evenly;
  }

  .container-skills {
    width: 40%;
    height: 80%;
  }

  .container-contact {
    width: 40%;
    height: 80%;
  }

  .inputs input[type="text"],
  input[type="email"] {
    height: 1.5vw;
    width: 50vh;

    display: flex;
  }
  textarea {
    width: 50vh;
    height: 8vh;
    display: flex;
  }

  .inputs button {
    width: 52vh;

    height: 2.5em;
    color: var(--text-color);
    font-size: 1.2vw;
    border-radius: 0.5rem;
  }
}

@media (max-width: 375px) {
  .skills-card {
    height: 2rem;
    gap: 0;
    width: 7.2rem;
  }
  .text-hard p {
    font-size: 0px;
  }
}
